<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
  <targets>
    <target name="file"
            xsi:type="File"
            layout="${time} [${level:uppercase=true}] [${callsite}]: ${message}"
            fileName="${basedir}/Logs/${shortdate}.txt"
            keepFileOpen="true"
            encoding="utf-8" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>