################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OneHundredAndEighty/_ReSharper.Caches/ReSharperPlatformVs16192_958c2cae.OneHundredAndEighty.00
/_ReSharper.Caches/ReSharperPlatformVs16192_958c2cae.00
/.vs
