################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OneHundredAndEighty/_ReSharper.Caches/ReSharperPlatformVs16192_958c2cae.OneHundredAndEighty.00
/_ReSharper.Caches/ReSharperPlatformVs16192_958c2cae.00
/.vs
/Data
/Releases
/OneHundredAndEighty/OneHundredAndEighty_2.0/bin/Debug
/OneHundredAndEighty/OneHundredAndEighty_2.0/obj/Debug
/OneHundredAndEighty/packages
/OneHundredAndEighty/OneHundredAndEighty.sln.DotSettings.user
