/.vs/
/.idea/.idea.OneHundredAndEighty/.idea/contentModel.xml
/.idea/.idea.OneHundredAndEighty/.idea/encodings.xml
/.idea/.idea.OneHundredAndEighty/.idea/indexLayout.xml
/.idea/.idea.OneHundredAndEighty/.idea/modules.xml
/.idea/.idea.OneHundredAndEighty/.idea/projectSettingsUpdater.xml
/.idea/.idea.OneHundredAndEighty/riderModule.iml
/.idea/.idea.OneHundredAndEighty/.idea/vcs.xml
/.idea/.idea.OneHundredAndEighty/.idea/workspace.xml
